# Python -- Fundamentos

## Váriáves e Operadores

In [1]:
# Atribundo o valor 1 à  variável var_teste
var_teste = 1

In [3]:
# Imprimindo a variável var_teste
var_teste

1

In [4]:
# Imprimindo a variável var_teste
print(var_teste)

1

In [5]:
# Não podemos utiliza uma variável que não foi definida. Veja a mensagem de erro.
my_var

NameError: name 'my_var' is not defined

In [6]:
var_teste=2

In [7]:
var_teste

2

In [8]:
type(var_teste)

int

In [11]:
var_teste=9.5

In [12]:
type(var_teste)

float

In [13]:
x=1

In [14]:
x

1

## Declaração Mútipla

In [15]:
pessoa1, pessoa2, pessoa3 = "Maria", "José", "Felipe"

In [16]:
pessoa1

'Maria'

In [17]:
pessoa2

'José'

In [18]:
pessoa3

'Felipe'

In [21]:
pessoa1, pessoa2, pessoa3

('Maria', 'José', 'Felipe')

In [24]:
fruta1 = fruta2= fruta3 = "Laranja"

In [25]:
fruta1

'Laranja'

In [26]:
fruta2

'Laranja'

## Pode-se usar letras, números e underline (mas não se pode começar com números)

In [27]:
x1=5

In [28]:
# Mensagem de erro, pois o Python não permite nomes de variáveis que iniciem com números
1x=5

SyntaxError: invalid syntax (1277451914.py, line 1)

## Não se pode usar palavras reservadas como nome de variável

## False      
## class      
## finally    
## is         
## return
## None       
## continue   
## for        
## lambda     
## try
## True       
## def        
## from       
## nonlocal   
## while
## and        
## del        
## global     
## not        
## with
## as         
## elif       
## if         
## or         
## yield
## assert     
## else       
## import     
## pass
## break      
## except     
## in         
## raise

In [30]:
while= 1

SyntaxError: invalid syntax (3552959610.py, line 1)

##  Variáveis atribuídas  a outras variáveis e ordem dos operadores

In [32]:
largura= 2

In [33]:
altura=4

In [34]:
area = largura * altura

In [35]:
perimetro = 2*altura + 2*largura

In [36]:
perimetro

12

In [37]:
print(area)

8

In [38]:
#A  ordem  das operações é a mesma da matemática
perimetro = 2 * (largura + 2) *altura

In [39]:
print(perimetro)

32

## Operações com variáveis

In [40]:
idade1 = 25

In [41]:
idade2 = 35

In [42]:
print(idade1 + idade2)

60

In [43]:
print(idade2 - idade1)

10

In [44]:
idade1 * idade2

875

In [52]:
idade2 / idade1

1.4

In [53]:
idade2%idade1

10

## Concatenação de Variáveis

In [54]:
nome = "Felipe"

In [55]:
sobrenome= "Camilo"

In [56]:
fullname = nome+ " "+ sobrenome

In [57]:
print(fullname)

Felipe Camilo

In [58]:
print(nome+ " "+ sobrenome)

Felipe Camilo